@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
button {
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-size: medium;
  height: 50px;
  width: 30%;
}
button button:hover {
  background-color: #ffffff;
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 500ms;
}

@media screen and (min-width: 769px) {
  .logo_header h1 {
    font-size: xx-large;
  }

  .menu h1 {
    margin-left: 30px;
  }
  .menu .heart {
    margin-right: 30px;
  }

  .menu_entier {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
  }
  .menu_entier .card {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .menu_entier .entrees {
    height: 400px;
    width: 30%;
  }
  .menu_entier .plats {
    height: 400px;
    width: 30%;
  }
  .menu_entier .desserts {
    height: 400px;
    width: 30%;
  }

  .fonctionnement {
    width: 100%;
    height: 150px;
  }
  .fonctionnement .steps {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
  }
  .fonctionnement .steps .choose_restaurants {
    width: 28%;
  }
  .fonctionnement .steps .compose_your_menu {
    width: 28%;
  }
  .fonctionnement .steps .taste_in_restaurant {
    width: 28%;
  }

  #restaurants_list {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #restaurants_list .card {
    height: 300px;
    width: 45%;
    margin: auto;
  }
  #restaurants_list .card .infos {
    line-height: 20px;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header h1 {
  font-size: x-large;
}
header .logo_header a {
  color: black;
  width: 100%;
  font-family: "shrikhand", cursive;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .logo_header a .left_arrow {
  width: 50px;
  height: 100%;
  color: black;
  font-size: large;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

main {
  background-color: #f6f6f6;
}

.menu {
  height: auto;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  position: relative;
  bottom: 50px;
}
.menu h1 {
  font-family: "shrikhand", cursive;
  padding-left: 30px;
  font-size: x-large;
}
.menu h2 {
  font-weight: 300;
  font-size: larger;
  margin: 26px 0 0 0;
  padding-left: 40px;
  bottom: 15px;
  right: 11px;
  position: relative;
}
.menu h2::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 40px;
  height: 4px;
  width: 3rem;
  background-color: #99e2d0;
}
.menu ul {
  padding: 0;
  margin: auto;
  width: 90%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.name i {
  font-size: xx-large;
}

.heart {
  position: relative;
}
.heart .far {
  position: absolute;
  opacity: 1;
  font-size: xx-large;
}
.heart .fas {
  font-size: xx-large;
  color: transparent;
  transform: scale(0.5);
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all ease-in-out;
  cursor: pointer;
}
.heart .fas:hover {
  opacity: 1;
  transform: scale(1.2);
}

button {
  display: block;
  border-radius: 25px;
  background-image: linear-gradient(#ff79da, #9356dc);
  height: 50px;
  width: 250px;
}
button span {
  color: white;
  font-weight: 500;
}

button:hover {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 500ms;
}

.card {
  overflow: hidden;
  height: 80px;
  width: 100%;
  position: relative;
  margin: 10px;
  border-radius: 20px;
  background-color: white;
  animation-iteration-count: 3;
  animation: appear 3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding-left: 15px;
}
.infos > h3 {
  margin: 0;
  line-height: 40px;
  height: 50px;
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu_price {
  padding-right: 20px;
  max-width: 100%;
  height: 55px;
  display: flex;
}
.menu_price > p {
  margin: 0;
  height: 30px;
  line-height: 30px;
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  font-weight: bold;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.check {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0px;
  right: -90px;
  border-radius: 0 20px 20px 0;
  background-color: #99e2d0;
  color: white;
  font-size: xx-large;
  transition: all 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card:hover {
  cursor: pointer;
}
.card:hover .infos {
  width: calc(100% - 90px);
}
.card:hover .check {
  right: 0;
}
.card:hover .check i {
  transform: rotate(360deg);
  transition: all 500ms ease-in-out 50ms;
}

.main_button {
  height: 120px;
}

button {
  margin: auto;
  display: block;
  border-radius: 25px;
  background-image: linear-gradient(#ff79da, #9356dc);
  height: 50px;
  width: 250px;
}
button span {
  color: white;
  font-weight: 500;
}

button:hover {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 500ms;
}

footer {
  background-color: #353535;
  color: white;
  padding: 10px;
}
footer .logo_footer {
  font-family: "shrikhand", cursive;
  padding-left: 20px;
}
footer #proposer_un_restaurant span {
  margin-left: 15px;
}
footer span {
  margin-left: 10px;
}
footer ul {
  padding-left: 20px;
}
footer li {
  list-style-type: none;
  line-height: 2rem;
}
footer li a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=menus.css.map */
