button {
  border-radius: 25px;
  border: none;
  background-image: linear-gradient((#ff79da), (#9356dc));
  color: white;
  font-size: medium;
  height: 50px;
  width: 30%;
  button:hover {
    background-color: #ffffff;
    filter: brightness(1.1);
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
      rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    @include hover;
  }
}

$linear-gradient: (#ff79da), (#9356dc);
