button {
  z-index: 1;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient((#ff79da), (#9356dc));
  color: white;
  font-size: medium;
  height: 50px;
  width: 30%;
  button:hover {
    z-index: 0;
    background-color: #ffffff;
    @include hover;
  }
}

$linear-gradient: (#ff79da), (#9356dc);
