@media screen and (min-width: 769px) {
    .logo_header {
        h1 {
            font-size: xx-large;
        }
    }
  .menu {
    h1 {
      margin-left: 30px;
    }
    .heart {
      margin-right: 30px;
    }
  }
  .menu_entier {
    width: 100%;
    height: 400px;
    @include space-around;

    .card {
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 15px;
    }
    .entrees {
      height: 400px;
      width: 30%;
    }
    .plats {
      height: 400px;
      width: 30%;
    }
    .desserts {
      height: 400px;
      width: 30%;
    }
  }

  .fonctionnement {
    width: 100%;
    height: 150px;
    .steps {
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: row;
      padding-bottom: 50px;
      .choose_restaurants {
        width: 28%;
      }
      .compose_your_menu {
        width: 28%;
      }
      .taste_in_restaurant {
        width: 28%;
      }
    }
  }

  #restaurants_list {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
      height: 300px;
      width: 45%;
      margin: auto;
      .infos {
        line-height: 20px;
      }
    }
  }
}
