@mixin flexbox-column {
  display: flex;
  flex-direction: column;
}
@mixin flexbox-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flexbox-column-space-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@mixin flexbox-column-center-space-evenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@mixin flexbox-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flexbox-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@mixin flexbox-row-center-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@mixin flexbox-center {
  display: flex;
  align-items: center;
}
@mixin direction-column {
  display: flex;
  flex-direction: column;
}
@mixin space-around {
  display: flex;
  justify-content: space-around;
}
@mixin row-flexend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@mixin puces {
  list-style-type: none;
}
@mixin box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@mixin button {
  border-radius: 25px;
  background-image: linear-gradient((#ff79da), (#9356dc));
  color: white;
  font-size: medium;
  height: 50px;
  width: 35%;
  span {
    color: white;
    font-weight: 500;
  }
}
@mixin button-hover {
  filter: brightness(1.1);
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px;
  @include hover;
}
@mixin hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 500ms;
}
@mixin header_menus {
  .logo_header a {
    color: black;
    width: 100%;
    font-family: "shrikhand", cursive;
    text-decoration: none;
    gap: 30%;
    display: inline-block;
    @include flexbox-center;
  }
}
a:visited {
  color: black;
}
.left_arrow { 
  width: 50px;
  height: 50px;
  color: black;
  font-size: x-large;
  @include flexbox-row-center;
}
@mixin footer {
  background-color: #353535;
  color: white;
  padding: 10px;
  .logo_footer {
    font-family: "shrikhand", cursive;
    padding-left: 20px;
  }
  ul {
    padding-left: 20px;
  }
  
  li {
    list-style-type: none;
    line-height: 1.5rem;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
@mixin heart-gradient {
  .far {
    position: absolute;
    opacity: 1;
  }
  .fas {
    color: transparent;
    transform: scale(0.5);
    background-image: linear-gradient((#ff79da), (#9356dc));
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all ease-in-out;
    cursor: pointer;
  }
  .fas:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}
