@import "variables";
@import "effects";
@import "functions";
@import "mixins";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  .logo_header a {
    width: 100%;
    font-family: "shrikhand", cursive;
    text-decoration: none;
    @include flexbox-row-center;
    i {
      font-size: x-large;
      position: absolute;
      left: 30px;
    }
  }
}

img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}
main {
  background-color: #f6f6f6;
}

.menu {
  height: auto;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  position: relative;
  bottom: 50px;

  h1 {
    font-family: "shrikhand", cursive;
    padding-left: 40px;
  }
  h2 {
    font-weight: 300;
    font-size: larger;
    margin: 26px 0 0 0;
    padding-left: 70px;
    bottom: 15px;
    right: 15px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 28px;
      left: 70px;
      height: 4px;
      width: 6%;
      background-color: $color-tertiary;
    }
  }

  ul {
    padding: 0;
    margin: auto;
    width: 90%;
    list-style-type: none;
    @include flexbox-column-space-evenly;
  }
}

.name {
  margin-right: 80px;
  i {
    font-size: x-large;
  }
  @include flexbox-row-center-space-between;
}

.infos {
  margin-right: 30px;
  @include flexbox-row-space-between;
}

#button {
  padding-bottom: 45px;
  @include flexbox-row-center;
}
button:hover {
  @include hover;
}

.card {
  line-height: 0.1rem;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  animation: appear 1s;
  @include box-shadow;
}
.check {
  border: solid red;
  margin-left: autosd;
  width: 8%;
  background-color: $color-tertiary;
  color: white;
  margin-right: 30px;
  font-size: xx-large;
  @include flexbox-row-center;

  & .slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    color: $color-tertiary;
  }
}

.desserts {
  margin-bottom: 60px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 10px;
  .logo_footer {
    font-family: "shrikhand", cursive;
    padding-left: 45px;
  }
  #devenir_partenaire {
    padding-left: 2px;
  }
  span {
    padding-left: 10px;
  }
  #last_lines_footer {
    padding-left: 30px;
  }

  li {
    list-style-type: none;
    line-height: 1.5rem;
    
  }
}

@media screen and (max-width: 768px) {
}
