@import "variables";
@import "effects";
@import "functions";
@import "mixins";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  .logo_header a {
    width: 100%;
    font-family: "shrikhand", cursive;
    text-decoration: none;
    @include flexbox-row-center;
    i {
      font-size: x-large;
      position: absolute;
      left: 30px;
    }
  }
}

.img_header {
  width: 100%;
}

img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  bottom: 50px;
  h1 {
    font-family: "shrikhand", cursive;
    padding-left: 40px;
  }

  h2 {
  font-weight: 300;
  font-size: larger;
  padding-left: 40px;
  border-bottom: $color-tertiary;
}

  ul {
    padding: 0;
    margin: auto;
    height: 360px;
    width: 90%;
    list-style-type: none;
    @include flexbox-column-space-evenly;
  }
}

.name {
  margin-right: 80px;
  i {
    font-size: x-large;
  }
  @include flexbox-row-center-space-between;
}

.infos {
  margin-right: 30px;
  @include flexbox-row-space-between;
}

#button {
  margin-bottom: 60px;
  @include flexbox-row-center;
}
.card {
  line-height: 0.1rem;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  @include box-shadow;
}

.desserts {
  margin-bottom: 60px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 10px;
  .logo_footer {
    font-family: "shrikhand", cursive;
    padding-left: 40px;

    img {
      color: white;
    }
  }
  li {
    list-style-type: none;
  }

  @include width;
}

@media screen and (max-width: 768px) {
}
