@import "variables";
@import "effects";
@import "functions";
@import "mixins";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  .logo_header a {
    color: black;
    width: 100%;
    font-family: "shrikhand", cursive;
    text-decoration: none;
    gap: 35%;
    display: inline-block;
    @include flexbox-center;
  }
}
a:visited {
  color: black;
}
.left_arrow {
  margin-left: 34px;
  width: 50px;
  height: 50px;
  color: black;
  font-size: x-large;
  @include flexbox-row-center;
}

img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}
main {
  background-color: #f6f6f6;
}

.menu {
  height: auto;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  position: relative;
  bottom: 50px;

  h1 {
    font-family: "shrikhand", cursive;
    padding-left: 60px;
  }
  h2 {
    font-weight: 300;
    font-size: larger;
    margin: 26px 0 0 0;
    padding-left: 69px;
    bottom: 15px;
    right: 11px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 28px;
      left: 70px;
      height: 4px;
      width: 3rem;
      background-color: $color-tertiary;
    }
  }

  ul {
    padding: 0;
    margin: auto;
    width: 90%;
    list-style-type: none;
    @include flexbox-column-space-evenly;
  }
}

.name {
  margin-right: 80px;
  i {
    font-size: xx-large;
  }
  @include flexbox-row-center-space-between;
}
.heart {
  position: relative;
  @include heart-gradient;
}

#button {
  padding-bottom: 45px;
  @include flexbox-row-center;
}
button:hover {
  @include hover;
}

.card {
  height: 100px;
  width: 700px;
  position: relative;
  margin: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  background-color: white;
  $animation-duration: 5s;
  animation-iteration-count: 3;
  animation: appear 3s;
  @include box-shadow;
  display: flex;
}

.infos {
  display: flex;
  flex-direction: column;
  line-height: 0px;
  border: solid orange;
  width: 500px;
  height: 100px;
  padding-left: 10px;
}
.menu_price {
  border: 2px solid violet;
  margin-left: auto;
  width: 100px;
  display: flex;
  justify-content: flex-end;
}
.menu_price::before {
  content: "";
  position: absolute;
  top: 20px;
}
.price {
  font-weight: bold;
  height: 40px;
  width: 40px;
  border: solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  right: 0px;
  border: solid red;
  border-radius: 0 20px 20px 0;
  background-color: $color-tertiary;
  color: white;
  font-size: xx-large;
  transition: all 0.5s;
  @include flexbox-row-center;
  i {
    color: white;
  }
}
.card:hover {
  cursor: pointer;
  .check {
    right: 30px;
  }
}

.desserts {
  margin-bottom: 60px;
}

footer {
  @include footer;
}

@media screen and (max-width: 768px) {
}
