@import "variables";
@import "effects";
@import "functions";
@import "mixins";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin-left: 40px;
}

i {
  margin: 0 10px;
}

.logo_header {
  width: 100%;
  font-family: "shrikhand", cursive;
  @include flexbox-center-column;
}
img {
  width: 20%;
}
.location {
  i {
    font-size: x-large;
  }
  background-color: #eaeaea;
  box-shadow: 0 0 0.5rem rgb(0, 0, 25%);
  width: 100%;
  height: 80px;
  gap: 2%;
  @include flexbox-row-center;
}

#button {
  border-radius: 25px;
  border: none;
  background-image: linear-gradient((#ff79da), (#9356dc));
  color: white;
  font-size: medium;
  height: 50px;
  width: 30%;
}

button:hover {
  @include hover;
}
.explorer {
  color: white;
  font-weight: 500;
}

.choice {
  background-color: #f6f6f6;
  width: 100%;
  height: 250px;
  margin-bottom: 60px;
  @include flexbox-center-column;
}
.fonctionnement {
  width: 100%;
}

.number {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: $color-primary;
  color: white;
  position: absolute;
  left: -20px;
  top: 20px;
  @include flexbox-center-column;
}
.steps {
  height: 350px;
  width: 100%;
  margin-bottom: 70px;
  text-align: center;
  @include direction-column;
  @include flexbox-center-column;
  @include space-around;
}

.choose_restaurants {
  background-color: #f6f6f6;
  border: solid #7e7e7e;
  border-radius: 30px;
  padding: 30px;
  width: 60%;
  position: relative;
  @include box-shadow;
}
.choose_restaurants:hover {
  @include hover;
}

.compose_your_menu {
  background-color: #f6f6f6;
  border: solid #7e7e7e;
  border-radius: 30px;
  padding: 30px;
  width: 60%;
  position: relative;
  @include box-shadow;
}
.compose_your_menu:hover {
  @include hover;
}

.taste_in_restaurant {
  background-color: #f6f6f6;
  border: solid #7e7e7e;
  border-radius: 30px;
  padding: 30px;
  width: 60%;
  position: relative;
  @include box-shadow;
}
.taste_in_restaurant:hover {
  @include hover;
}

.restaurants {
  img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 300px;
  }
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  padding: 30px 0 10px 0;
  .restaurants_cards {
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    @include flexbox-column-center-space-evenly;
  }
}

.card {
  position: relative;
  border-radius: 25px;
  width: 90%;
  height: 400px;
  margin: 20px;
  @include box-shadow;
  .new {
    position: relative;
  }
  .new::before {
    content: "Nouveau";
    position: absolute;
    right: 1rem;
    bottom: 22rem;
    display: grid;
    place-items: center;
    height: 2rem;
    width: 5rem;
    background-color: $color-tertiary;
    color: #3a8568;
    font-weight: 500;
  }
  .infos {
    color: black;
    width: 100%;
    height: 95px;
    padding: 0 15px;
    line-height: 10px;
    @include flexbox-row-center-space-between;
    .heart {
       position: relative;
      font-size: xx-large;
    }
    .far {
      position: absolute;
      opacity: 1;
    }
    .fas {
      color: transparent;
      transform: scale(0.5);
      background-image: linear-gradient((#ff79da), (#9356dc));
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 0;
      transition: all ease-in-out;
    }
    &:hover .fas {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 500ms;
}

footer {
  background-color: #353535;
  color: white;
  padding: 10px;
  .logo_footer {
    font-family: "shrikhand", cursive;
    padding-left: 45px;
  }
  
  #devenir_partenaire {
    padding-left: 2px;
  }
  span {
    padding-left: 10px;
  }
  #last_lines_footer {
    padding-left: 30px;
  }

  li {
    list-style-type: none;
    line-height: 1.5rem;
    
  }
}

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
